{%load static%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	{%block head %}

	<title>Base</title>
	{%endblock%}
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">MY BLOG</a>
    </div>
      <ul class="nav navbar-nav navbar-right">


      {%block login%}
      <li><a  href="{%url 'account:login'%}"><span class="glyphicon glyphicon-log-in"></span> Login</a><li>
      {%endblock%}

    {%block register%}
  <li><a  href="{% url 'account:register'%}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>  <!--this templating gives direct access to the url that is given name='register'-->
   {%endblock%}




  {%block logout%}
<li><a  href="{% url 'account:logout'%}">Logout</a></li>  <!--this templating gives direct access to the url that is given name='register'-->
 {%endblock%}
  </ul>
  <ul class="nav navbar-nav">
  {%block home%}
  <li><a href="{%url 'blog:home'%}">Home</a></li>
  {%endblock%}

{%block admin%}
  {% if user.is_active and user.is_staff %}
    <li><a href="{%url 'admin:index'%}">Admin Dashboard</a></li>
{% endif %}
{%endblock%}
</ul>
  <div class="container">


  <ul class="nav navbar-nav navbar-right">
    {%block view%}
    <li><a class='btn' href="{%url 'blog:view'%}">View Posts</a></li>
    {%endblock%}
  {%block edit_profile%}
<li><a class='btn' href="{%url 'account:edit_profile'%}">Edit Profile</a></li>
  {%endblock%}
  {%block chat%}
  <li><a class='btn' href="{%url 'chat:index'%}"><span class="glyphicons glyphicons-chat"></span> Chat</a></li>
  {%endblock%}
  {%block profile%}
<li><a class='btn' href="{%url 'account:view_profile'%}">Profile</a></li>
  {%endblock%}
  {%block change_password%}
  <li><a class='btn' href="{%url 'account:change_password'%}">Change Password</a></li>
  {%endblock%}

  </ul>
</div>
  </div>
</nav>

{%block body %}
{%endblock%}
{%block edit%}
{%endblock%}
</body>
</html>
