{% extends "base.html" %}
{% block body %}
{%load crispy_forms_tags%}
<div class="container">


<h2><a href="/blog/{{post.id}}">{{ post.title }}</a></h2>
<h5> created by {{post.user}} on {{ post.created }}</h5>

<h4><br><br>
	{{ post.post|safe|linebreaks}}
</div>
<br><br></h4>

{%endblock%}
{%block login%}
{%endblock%}
{%block register%}
{%endblock%}
{%block edit%}
<div class="container">

<h5>last edited at {{ post.updated }}</h5>
{%if user == post.user %}
<h4><a class="btn" href={%url 'blog:edit' post.id%}>Edit Post</a></h4></div>
<div class="container">
<h4><a class="btn" href={%url 'blog:delete' post.id%}>Delete Post</a></h4></div>

<div class="container">
{%endif%}

<h4><a class="btn" href={%url 'blog:view'%}>Back</a></h4>
<h4><a class="btn" href={%url 'blog:comment' post.id%}>Comment</a></h4>
<h4>Comments:</h4>
<div class="container">


{% for comments in post.comments.all  %}
    <div class="comment" style="overflow: hidden;">
        <div class="date">{{comments.created_date }} </div>
      <p><strong>{{ comments.author }}:</strong> {{ comments.text}}<p>


</div>
		{% empty %}
		    <p>No comments here yet :(</p>

{% endfor %}
{%endblock%}
